# ENVIRONMENTAL VARIABLES

# ----- Database Configuration -----
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=TranscendenceDatabase
DATABASE_URL=postgresql://postgres:your_postgres_password@db_postgresql:5432/TranscendenceDatabase

# ----- Redis Configuration -----
REDIS_HOST=cache_redis
REDIS_PORT=6379

# ----- Backend Configuration -----
PORT=3000
JWT_SECRET=your_jwt_secret_key_here
API_KEY=your_api_key_here

# ----- AI API Configuration -----
AI_API_KEY=your_openai_api_key_here
CHAT_AI_API_URL=https://api.openai.com/v1/chat/completions
EMBED_AI_API_URL=https://api.openai.com/v1/embeddings
AI_MODEL=gpt-4o-mini
AI_EMBEDDING_MODEL=text-embedding-3-small

# ----- Google OAuth Configuration -----
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=https://your-domain.com/api/auth/google/redirect

# ----- Domain Configuration -----
DOMAIN=YourDomain.com

# ----- Frontend Configuration -----
NEXT_PUBLIC_API_URL=/api

# ----- Cloudflare Tunnel Configuration -----
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token_here
