:80 {
    # ---- Backend API ----
    reverse_proxy /api/* backend_nestjs:8080 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }

    reverse_proxy /socket.io/* backend_nestjs:8080 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
        header_up Upgrade {http.request.header.Upgrade}
        header_up Connection {http.request.header.Connection}
    }

    reverse_proxy /uploads/* backend_nestjs:8080 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }

    # ---- Frontend ----    
    reverse_proxy frontend_nextjs:3000 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {host}
    }
}
